*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: 0;
  background-color: 0;
}
#header{
  text-align: center;
  padding: 30px;
  background-color: darkgray;
}
div.gallery {
    border: 1px solid #ccc;
  }
    div.gallery:hover {
      border: 1px solid #777;
    }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    background-color: darkgrey;
  }
  
  @media only screen and (orientation: landscape) {
    body{
      background-color: rgb(179, 169, 169);
    }
    #footer {
      text-align: center;
      background-color: rgb(56, 54, 54);
      color: white;
      padding: 20px;
      clear: both;

    }
   
#Todays h1 b{
      Text-align:center;
    }
    
}
h1#kan { 
  Text-align: center;
}